html, body {
  height: 100%;
  width: 100%;
}




nav {
  background-color: transparent !important;
}

nav li > a:hover {
  text-decoration: none;
  background-color: transparent !important;
  color:#10C9C3 !important;
}

